.Welcome {
    padding: 20px;
    font-family: "Bree Serif", serif;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: #4158d0;
    background-image: linear-gradient(43deg,
            #4158d0 0%,
            #c850c0 46%,
            #ffcc70 100%);
    /* margin: auto; */
    text-decoration: none;
    height: 2000px;
}

.Welcome>h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    padding-top: 20px;
}

.Welcome>Link {
    text-decoration: none;
    color: white;
}