.navbar {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);

    font-family: "Bree Serif", serif;
    font-size: 30px;
    /* border-radius: 25px; */
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-size: 30px;
    text-shadow: 2px 2px 4px #000000;
}


.nav-link {
    text-shadow: 2px 2px 4px #000000;
}